
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.imagenMundo{
    grid-area: imagenMundo;
}
.subMundo{
    grid-area: subMundo;
}

.containerContactos{
    .subMundo{
        @include subTitulos
    }
    .imagenMundo{
        width: 700px;
        height: 500px;
        margin: 20px;
        padding: 20px;
  }
  text-align: center;
  margin: auto;
  padding: 30px;
}

@media only screen and (max-width: 576px){
    .containerContactos{
        display: grid;
        margin: 10px;
        padding: 10px;
        text-align: center;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, auto);
        grid-template-areas: 
        "subMundo"
        "imagenMundo";

        .imagenMundo{
            width: 450px;
        }
        .subMundo{
        margin:10px;
        word-spacing: 10px;
        font-size: 20px;
        border-width: 10px;
        }
    }
}

@media only screen and (min-width: 576px) and (max-width: 768px){
.containerContactos{
    display: grid;
    margin: 10px;
    padding: 10px;
    text-align: center;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, auto);
    grid-template-areas: 
    "subMundo"
    "imagenMundo";

    .imagenMundo{
        width: 600px;
    }
    .subMundo{
    margin:10px;
    word-spacing: 10px;
    font-size: 25px;
    border-width: 10px;
    }
}
}
