<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Monoton&display=swap" rel="stylesheet">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/estilo.css">
    
    <title>Fans F1/Sorteos</title>
</head>
<link rel="icon" href="../archivos/descarga (1).png">

<header>
  <section class="menu">
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
          <img src="../archivos/Formula1.png" alt="logo" width="100px"></a>
          <button class="navbar-toggler border bg-primary" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="../index.html">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="../views/nosotros.html">Nosotros</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="../views/sorteos.html">Sorteos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="../views/contactos.html">Contactos</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
</section>
    
     <div class="row">
         <div class="col-12">
                <h1 class="titulo">Fans Formula 1</h1>
          </div>
     </div>
<div class="contenedorTitulo">     
          <div class="senna">
              <img src="../archivos/senna.jpeg" alt="senna" width="150" height="150">
          </div>
          <div class="formula1"> 
              <img src="../archivos/Formula1.png" alt="Formula1">
          </div>
          <div class="fangio">
              <img src="../archivos/fangio.jpeg" alt="fangio" width="150" height="150">
          </div>
</div>
  
</header>

<body>
    <h2 class="titSorteo">Participa de este sorteo</h2> 

    <div id="carouselExampleIndicators" class="carousel slide w-75 mx-auto p-2 m-4" data-bs-ride="true">
        
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 3"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 4"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5" aria-label="Slide 5"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="6" aria-label="Slide 6"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="7" aria-label="Slide 7"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="8" aria-label="Slide 8"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="9" aria-label="Slide 9"></button>
        </div>
        
        <div class="carousel-inner">
            
          <div class="carousel-item active">
            <h3>alfa romeo</h3>
            <img src="../archivos/remeras/alfaromeo.jpeg" alt="alfaromeo" class="d-block mx-auto w-50" width="100" height="200">
          </div>

          <div class="carousel-item">
            <h3>alpha Tauri</h3>
            <img src="../archivos/remeras/alphatauri.jpeg" alt="alphatauri" class="d-block mx-auto w-50"width="100" height="200">
          </div>

          <div class="carousel-item">
            <h3>alpine</h3>
            <img src="../archivos/remeras/alpine.jpeg" alt="alpine" class="d-block mx-auto w-50"width="100" height="200">
          </div>
          
          <div class="carousel-item">
            <h3>red bull</h3>
            <img src="../archivos/remeras/redbull.jpeg" alt="redbull"class="d-block mx-auto w-50"width="100" height="200">
          </div>

          <div class="carousel-item">
            <h3>aston martin</h3>
            <img src="../archivos/remeras/astonmartin.jpeg" alt="astonmartin"class="d-block mx-auto w-50"width="100" height="200">
          </div>

          <div class="carousel-item">
            <h3>ferrari</h3>
            <img src="../archivos/remeras/ferrari.jpeg" alt="ferrari"class="d-block mx-auto w-50"width="100" height="200">
          </div>

          <div class="carousel-item">
            <h3>haas</h3>
            <img src="../archivos/remeras/haas.jpeg" alt="haas"class="d-block mx-auto w-50"width="100" height="200">
          </div>

          <div class="carousel-item">
            <h3>mclaren</h3>
            <img src="../archivos/remeras/mclaren.jpeg" alt="mclaren"class="d-block mx-auto w-50"width="100" height="200">
          </div>

          <div class="carousel-item">
            <h3>mercedes</h3>
            <img src="../archivos/remeras/mercedes.jpeg" alt="mercedes"class="d-block mx-auto w-50"width="100" height="200">
          </div>

          <div class="carousel-item">
            <h3>williams</h3>
            <img src="../archivos/remeras/williams.jpeg" alt="williams"class="d-block mx-auto w-50"width="100" height="200">
          </div>
        </div>
        
        <button class="carousel-control-prev bg-warning" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        
        <button class="carousel-control-next bg-warning" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      
    </div>

    <form class="formularioSorteo w-25 p-4 mx-auto">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>

        <div class="mb-3">
          <label for="exampleInputNombre" class="form-label">Nombre</label>
          <input type="Nombre" class="form-control" id="exampleInputNombre">
        </div>

        <div class="mb-3">
            <label for="exampleInputEquipo" class="form-label">Equipo</label>
            <div class="mb-3">
              <select id="disabledSelect" class="form-select" >
                  <option value=""></option> 
                  <option value="Red Bull">Red Bull</option>
                  <option value="Mercedes">Mercedes</option>
                  <option value="Mclaren">Mclaren</option>
                  <option value="Aston Martin">Aston Martin</option>
                  <option value="Williams">Williams</option>
                  <option value="Alpha Tauri">Alpha Tauri</option>
                  <option value="Alpine">Alpine</option>
                  <option value="Ferrari">Ferrari</option>
                  <option value="Haas">Haas</option>
                  <option value="Alfa Romeo">Alfa Rome</option>
             </select>
           </div>
        </div>
        <button type="submit" class="btn btn-primary">Quiero Ganar</button>
      </form>

</body>

<footer>
  <a href="#top">
    <h2 data-aos="zoom-in">Inicio</h2>
  </a>

      <img class="footerLogo" data-aos="flip-right" src="../archivos/descarga (1).png" alt="logo" >
      <a href="./contactos.html">
          <h3 data-aos="zoom-out-left">Contactos</h3>
      </a>
  

      <section class="audio">
          <AUdio controls >
              <source src="../archivos/formula.mp3" type="audio/mp3">
          </AUdio>
      </section>
      <h5 class="btn btn-primary">Todos los derechos reservados R® </h5>
</footer>


<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
        <script> 
            AOS.init({ 
            easing: 'ease-out-back',duration: 2000})
        </script>

 <!-- JavaScript Bundle with Popper -->
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>

</html>